In [1]:
import pandas as pd

In [5]:
# importing data for year 2019

df_19 = pd.read_csv('./201906-citibike-tripdata.csv')
df_19

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,330,2019-06-01 00:00:01.5000,2019-06-01 00:05:31.7600,3602,31 Ave & 34 St,40.763154,-73.920827,3570,35 Ave & 37 St,40.755733,-73.923661,20348,Subscriber,1992,1
1,830,2019-06-01 00:00:04.2400,2019-06-01 00:13:55.1470,3054,Greene Ave & Throop Ave,40.689493,-73.942061,3781,Greene Av & Myrtle Av,40.698568,-73.918877,34007,Subscriber,1987,2
2,380,2019-06-01 00:00:06.0190,2019-06-01 00:06:26.7790,229,Great Jones St,40.727434,-73.993790,326,E 11 St & 1 Ave,40.729538,-73.984267,20587,Subscriber,1990,2
3,1155,2019-06-01 00:00:06.7760,2019-06-01 00:19:22.5380,3771,McKibbin St & Bogart St,40.706237,-73.933871,3016,Kent Ave & N 7 St,40.720368,-73.961651,33762,Subscriber,1987,1
4,1055,2019-06-01 00:00:07.5200,2019-06-01 00:17:42.5580,441,E 52 St & 2 Ave,40.756014,-73.967416,3159,W 67 St & Broadway,40.774925,-73.982666,31290,Subscriber,1973,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2125365,232,2019-06-30 23:59:32.8920,2019-07-01 00:03:25.6310,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,3107,Bedford Ave & Nassau Ave,40.723117,-73.952123,25779,Subscriber,1972,1
2125366,477,2019-06-30 23:59:33.6990,2019-07-01 00:07:31.0440,445,E 10 St & Avenue A,40.727408,-73.981420,3737,Stanton St & Norfolk St,40.720747,-73.986274,39522,Subscriber,1981,2
2125367,300,2019-06-30 23:59:47.4050,2019-07-01 00:04:48.1850,3307,West End Ave & W 94 St,40.794165,-73.974124,3320,Central Park West & W 100 St,40.794067,-73.962868,26730,Subscriber,1981,1
2125368,906,2019-06-30 23:59:51.5980,2019-07-01 00:14:58.3210,402,Broadway & E 22 St,40.740343,-73.989551,400,Pitt St & Stanton St,40.719261,-73.981780,38286,Subscriber,1996,1
2125369,1270,2019-06-30 23:59:54.3670,2019-07-01 00:21:05.2750,3788,E 12 St & 4 Av,40.732690,-73.989740,326,E 11 St & 1 Ave,40.729538,-73.984267,38742,Subscriber,1967,1

In [6]:
# importing data for the year 2020
df_20= pd.read_csv('./202006-citibike-tripdata.csv')
df_20

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1062,2020-06-01 00:00:03.3720,2020-06-01 00:17:46.2080,3419,Douglass St & 4 Ave,40.679279,-73.981540,3419,Douglass St & 4 Ave,40.679279,-73.981540,39852,Customer,1997,2
1,3810,2020-06-01 00:00:03.5530,2020-06-01 01:03:33.9360,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,336,Sullivan St & Washington Sq,40.730477,-73.999061,37558,Subscriber,1969,0
2,1017,2020-06-01 00:00:09.6140,2020-06-01 00:17:06.8330,389,Broadway & Berry St,40.710446,-73.965251,3562,Classon Ave & St Marks Ave,40.676520,-73.959608,37512,Customer,1988,2
3,226,2020-06-01 00:00:12.1780,2020-06-01 00:03:58.8640,3255,8 Ave & W 31 St,40.750585,-73.994685,505,6 Ave & W 33 St,40.749013,-73.988484,39674,Customer,1969,0
4,1437,2020-06-01 00:00:21.2550,2020-06-01 00:24:18.9650,367,E 53 St & Lexington Ave,40.758281,-73.970694,497,E 17 St & Broadway,40.737050,-73.990093,21093,Customer,1997,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1882268,685,2020-06-30 23:59:41.1160,2020-07-01 00:11:06.7790,503,E 20 St & Park Ave,40.738274,-73.987520,3746,6 Ave & Broome St,40.724308,-74.004730,21056,Customer,1993,2
1882269,446,2020-06-30 23:59:46.4260,2020-07-01 00:07:13.0860,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,30164,Customer,1969,0
1882270,439,2020-06-30 23:59:47.4770,2020-07-01 00:07:06.5590,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,43742,Customer,1986,1
1882271,890,2020-06-30 23:59:53.3950,2020-07-01 00:14:43.4270,3852,Stewart Ave & Johnson Ave,40.708690,-73.925870,3054,Greene Ave & Throop Ave,40.689493,-73.942061,15787,Subscriber,1994,1
1882272,433,2020-06-30 23:59:53.9010,2020-07-01 00:07:07.0950,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,261,Johnson St & Gold St,40.694749,-73.983625,38767,Customer,1990,1

In [45]:
#combining the two imported data into one single df
combined_df= pd.concat([df_19,df_20],axis=0)
print (combined_df)

         tripduration                 starttime                  stoptime  \
0                 330  2019-06-01 00:00:01.5000  2019-06-01 00:05:31.7600
1                 830  2019-06-01 00:00:04.2400  2019-06-01 00:13:55.1470
2                 380  2019-06-01 00:00:06.0190  2019-06-01 00:06:26.7790
3                1155  2019-06-01 00:00:06.7760  2019-06-01 00:19:22.5380
4                1055  2019-06-01 00:00:07.5200  2019-06-01 00:17:42.5580
...               ...                       ...                       ...
1882268           685  2020-06-30 23:59:41.1160  2020-07-01 00:11:06.7790
1882269           446  2020-06-30 23:59:46.4260  2020-07-01 00:07:13.0860
1882270           439  2020-06-30 23:59:47.4770  2020-07-01 00:07:06.5590
1882271           890  2020-06-30 23:59:53.3950  2020-07-01 00:14:43.4270
1882272           433  2020-06-30 23:59:53.9010  2020-07-01 00:07:07.0950

         start station id         start station name  start station latitude  \
0                    3602             31 Ave & 34 St               40.763154
1                    3054    Greene Ave & Throop Ave               40.689493
2                     229             Great Jones St               40.727434
3                    3771    McKibbin St & Bogart St               40.706237
4                     441            E 52 St & 2 Ave               40.756014
...                   ...                        ...                     ...
1882268               503         E 20 St & Park Ave               40.738274
1882269              3699            W 50 St & 9 Ave               40.763605
1882270              3699            W 50 St & 9 Ave               40.763605
1882271              3852  Stewart Ave & Johnson Ave               40.708690
1882272               324    DeKalb Ave & Hudson Ave               40.689888

         start station longitude  end station id         end station name  \
0                     -73.920827            3570           35 Ave & 37 St
1                     -73.942061            3781    Greene Av & Myrtle Av
2                     -73.993790             326          E 11 St & 1 Ave
3                     -73.933871            3016        Kent Ave & N 7 St
4                     -73.967416            3159       W 67 St & Broadway
...                          ...             ...                      ...
1882268               -73.987520            3746        6 Ave & Broome St
1882269               -73.989180             523          W 38 St & 8 Ave
1882270               -73.989180             523          W 38 St & 8 Ave
1882271               -73.925870            3054  Greene Ave & Throop Ave
1882272               -73.981013             261     Johnson St & Gold St

         end station latitude  end station longitude  bikeid    usertype  \
0                   40.755733             -73.923661   20348  Subscriber
1                   40.698568             -73.918877   34007  Subscriber
2                   40.729538             -73.984267   20587  Subscriber
3                   40.720368             -73.961651   33762  Subscriber
4                   40.774925             -73.982666   31290  Subscriber
...                       ...                    ...     ...         ...
1882268             40.724308             -74.004730   21056    Customer
1882269             40.754666             -73.991382   30164    Customer
1882270             40.754666             -73.991382   43742    Customer
1882271             40.689493             -73.942061   15787  Subscriber
1882272             40.694749             -73.983625   38767    Customer

         birth year  gender
0              1992       1
1              1987       2
2              1990       2
3              1987       1
4              1973       1
...             ...     ...
1882268        1993       2
1882269        1969       0
1882270        1986       1
1882271        1994       1
1882272        1990       1

[4007643 rows x 15 columns]

In [46]:
# Define a mapping dictionary
gender_mapping = {0: 'Unknown', 1: 'Male', 2: 'Female'}

# Apply the mapping to the 'gender' column
combined_df['gender'] = combined_df['gender'].map(gender_mapping)

# Display the updated DataFrame
print(combined_df.head())

   tripduration                 starttime                  stoptime  \
0           330  2019-06-01 00:00:01.5000  2019-06-01 00:05:31.7600
1           830  2019-06-01 00:00:04.2400  2019-06-01 00:13:55.1470
2           380  2019-06-01 00:00:06.0190  2019-06-01 00:06:26.7790
3          1155  2019-06-01 00:00:06.7760  2019-06-01 00:19:22.5380
4          1055  2019-06-01 00:00:07.5200  2019-06-01 00:17:42.5580

   start station id       start station name  start station latitude  \
0              3602           31 Ave & 34 St               40.763154
1              3054  Greene Ave & Throop Ave               40.689493
2               229           Great Jones St               40.727434
3              3771  McKibbin St & Bogart St               40.706237
4               441          E 52 St & 2 Ave               40.756014

   start station longitude  end station id       end station name  \
0               -73.920827            3570         35 Ave & 37 St
1               -73.942061            3781  Greene Av & Myrtle Av
2               -73.993790             326        E 11 St & 1 Ave
3               -73.933871            3016      Kent Ave & N 7 St
4               -73.967416            3159     W 67 St & Broadway

   end station latitude  end station longitude  bikeid    usertype  \
0             40.755733             -73.923661   20348  Subscriber
1             40.698568             -73.918877   34007  Subscriber
2             40.729538             -73.984267   20587  Subscriber
3             40.720368             -73.961651   33762  Subscriber
4             40.774925             -73.982666   31290  Subscriber

   birth year  gender
0        1992    Male
1        1987  Female
2        1990  Female
3        1987    Male
4        1973    Male

In [47]:
#transferring the clean data to new csv 
combined_df.to_csv('citibike.csv',index=False)